<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_FILE"
              value="\${LOG_FILE:-\${LOG_PATH:-\${LOG_TEMP:-\${java.io.tmpdir:-/tmp}}/}${project.name}.log}"/>

    <springProfile name="!dev">
        <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>
    </springProfile>


    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


    <!-- ******************** logger：精确配置package或class日志的level、appender end ******************** -->
    <logger name="com.github.xuybin" level="DEBUG" />
    <logger name="org.springframework.retry" level="DEBUG"/>

    <!-- ******************** root：定义日志的level、appender，且最多只能配置一个 start ******************** -->
    <!--TRACE < DEBUG < INFO <  WARN < ERROR-->
    <root level="ERROR">
        <springProfile name="dev">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <springProfile name="!dev">
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>

</configuration>